.horizontal-text {
    writing-mode: vertical-lr;
    font-family: Arial Bold;
    font-size: 100px;
    position: absolute;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 15%;
    text-orientation: sideways-right;
}

.container-small {
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 25%;
}

.form-div {
    box-shadow: 5px 10px 10px 5px #888888;
    padding: 10%;
    text-align: center;
}

input {
    border: 0.16em black solid;
    height: 2.5em;
    width: 20em;
    padding: 5%;
}

.button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    transition: all 0.15s;
}